/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 body, html {
  margin: 0;
  padding: 0;
  height:100%;
  overflow: hidden;
}

.actions {
  padding: 0;
}

.content {
  height: 100vh;
  overflow-y: auto;
}

.container-fluid {
  margin: 0;
  padding: 0;
}
