/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 body, html {
  margin: 0;
  padding: 0;
  height:100%;
  overflow: hidden;
}
.btn {
  white-space:normal !important;
  word-wrap: break-word;
}
.actions {
  padding: 0;
}

.nav-actions > .nav-item {
  margin-top: 10px;
  padding-top: 10px;
}

.content {
  height: 100vh;
  overflow-y: auto;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

